<br>
<footer>
      <div class="container footer">
<ul class="list-inline">
<li><div id="footer_about"  class="social social_link cursor_pointer"  data-toggle="modal" data-target="#AboutModal"><i class="fa fa-lg fa-question"></i></div></li>
<li><div id="footer_feedback"  class="social social_link cursor_pointer"  data-toggle="modal" data-target="#ContactUsModal"><i class="fa fa-lg fa-envelope-o"></i></div></li>
<li><div class=" social social_link">
<a href="#"><i class="fa fa-lg fa-facebook"></i></a>
</div></li>
<li><div class=" social social_link">
<a href="#"><i class="fa fa-lg fa-twitter"></i></a>
</div></li>
<li><div class=" social social_link">
<a href="#"><i class="fa fa-lg fa-google-plus"></i></a>
</div></li>

</ul><!--list-->
        <div id="footer_details">
        Become a internet celebrity overnight. Like us on Facebook and we pick a lucky facebook fan everyday, as a lucky fan you get to write an article which will be seen by millions. Say2Millions.com is a crowdsourced blog where you among the crowd will get to control the content. Join the crowd and become a true celebrity.
        </div><!--footer details-->
      </div>
</footer>
