    <div class="row col-lg-12" id="category">

            <ul class="list-inline">
<%Article.get_sort_types.each do |sort_type|%>
                <li>
<%= link_to sort_type , :title => sort_type, :class=>"btn btn-default category_btn red_link #{'active' if current_page? ()}" %>
		</li>

<%end%>

            </ul>

    </div>
